<div class="container">

  <div class="ui-g">

      <form #f="ngForm" (ngSubmit)="cadastrar(f)">
          <div class="ui-g-12">
            <h1>Cadastro de livros</h1>
          </div>

          {{f.valid | json}}
          {{f.value | json}}

          <div class="ui-g-12 ui-fluid">
            <app-input-container errorMessage="Campo obrigatório e com 5 caracteres" label="ISBN">
              <input pInputText name="isbn" required minlength="5" ngModel>
            </app-input-container>
          </div>

          <div class="ui-g-12 ui-fluid">
            <app-input-container errorMessage="Campo obrigatório e com 5 caracteres" label="Título">
              <input pInputText name="titulo" required minlength="5" ngModel>
            </app-input-container>
          </div>

          <div class="ui-g-12 ui-fluid">
            <app-input-container errorMessage="Campo obrigatório e com 5 caracteres" label="Editora">
              <input pInputText name="editora" required minlength="5" ngModel>
            </app-input-container>
          </div>


          <div class="ui-g-12 ui-fluid">
              <div class="ui-g-6 ui-md-3 ui-fluid">
                  <label>Data de publicação</label>
                  <p-calendar dateFormat="dd/mm/yy" name="dataDePublicacao"
                    [inline]="false" [readonlyInput]="false"
                    [showIcon]="true"
                    required [(ngModel)]="livro.dataDePublicacao" #dataDePublicacao="ngModel"></p-calendar>
              </div>

              <div class="ui-g-6 ui-md-3 ui-fluid">
                <app-input-container errorMessage="Preço obrigatório" label="Preço">
                  <input pInputText name="preco" required  ngModel>
                </app-input-container>
              </div>
          </div>

          <div class="ui-g-12 ui-md-6 ui-fluid">
            <app-input-container errorMessage="Autor obrigatório" label="Autor">
              <!--<p-multiSelect name="autores" [options]="autores" ngModel defaultLabel="Selecione"
              [filter]="true"
              required></p-multiSelect>-->
              <select required name="autores" ngModel>
                <option value="">Selecione</option>
                <option value="1">Olavo de Carvalho</option>
                <option value="2">Clarice Lispector</option>
              </select>
            </app-input-container>
          </div>

          <div class="ui-g-12">
            <button pButton type="submit" label="cadastrar"></button>
          </div>
      </form>
    </div>
  </div>
