<div class="container">
  <div class="ui-g">

    <div class="ui-g-12">
      <h1>Livros</h1>
    </div>

    <div class="ui-g-12 ui-fluid">
      <label>Autor</label>
      <input pInputText type="text">
    </div>

    <div class="ui-g-12">
      <button pButton type="submit" label="Pesquisar"></button>
    </div>

  </div>

  <div class="ui-g">
    <div class="ui-g-12">
      <p-dataTable [value]="livros" [paginator]="true" [rows]="5"
          [responsive]="true">
        <p-column field="isbn" header="Isbn"></p-column>
        <p-column field="titulo" header="Titulo"></p-column>
        <p-column field="descricao" header="Descrição"></p-column>
        <p-column field="dataLancamento" header="Lançamento" styleClass="col-data">
            <ng-template let-liv="rowData" pTemplate="body">
                <span>{{ liv.dataLancamento | date:'dd/MM/yyyy' }}</span>
            </ng-template>
        </p-column>
        <p-column field="valor" header="Valor" styleClass="col-valor">
          <ng-template let-liv="rowData" pTemplate="body">
            {{ liv.valor | number:'1.2-2' }}
          </ng-template>
        </p-column>
        <p-column field="autor" header="Autor"></p-column>
        <p-column styleClass="col-acoes">
            <ng-template pTemplate="body">
              <a pButton icon="fa-pencil" pTooltip="Editar" tooltipPosition="top"></a>
              <button pButton icon="fa-trash" pTooltip="Excluir" tooltipPosition="top"></button>
            </ng-template>
        </p-column>
      </p-dataTable>

    </div>

    <div class="ui-g-12">
      <a pButton label="Novo Livro"></a>
    </div>

  </div>

</div>
